
# TELEGRAM SETTINGS
TG_TOKEN=bot_secret_token
ADMIN_ID=your_telegram_id
# channel id should start with -100
CHANNEL_ID=-100xxxxxxxxxx

# DATABASE SETTINGS
DB_URL=db_url

# PROXY SETTINGS (optional)
#PROXY=socks5://ip:port

# REDIS SETTINGS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
#REDIS_PASSWORD=password