ADMIN_ID=your_telegram_id

POSTGRES_USER=postgres
POSTGRES_DB=kita
POSTGRES_PASSWORD=your_postgres_password

DOMAIN=example.com
WEBHOOK_PORT=8443
WEBHOOK_PATH=/webhook

RATELIMIT_MAX_TOKENS=5
RATELIMIT_REFILL_RATE=0.3

# Telegram secret_token
# 1-256 characters.
# openssl rand -hex 32
# MOVED TO secrets/
# WEBHOOK_SECRET=your_webhook_secret

# 32 bytes
# openssl rand -base64 32
# MOVED TO secrets/
# ENCRYPTION_KEY=your_encryption_key

# Optional settings (uncomment if needed)

# LOG_LEVEL="INFO"

# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432

# REDIS_HOST=127.0.0.1
# REDIS_PORT=6379
# REDIS_DB=0
# REDIS_PASSWORD=password

# BOT_PORT=5000
