
# channel id should start with -100
TG_TOKEN=bot_secret_token
ADMIN_ID=your_telegram_id
CHANNEL_ID=-100xxxxxxxxxx

POSTGRES_PASSWORD=password

# Optional settings (uncomment if needed)

# POSTGRES_USER=postgres
# POSTGRES_DB=kita
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432

# REDIS_HOST=127.0.0.1
# REDIS_PORT=6379
# REDIS_DB=0
# REDIS_PASSWORD=password

# PROXY=socks5://ip:port